<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <br>
    <div class="container-md text-center">
        <h3 > Bank Management System </h3>
    </div>  
    <br> 
    <div class="container-md ">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <!-- add image link -->
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Customers</h5>
              <p class="card-text">
                here you can do this operations: 
                Add customer, Update details, Delete customer, View profile
              </p>
            </div>
            <div class="d-grid gap-2 d-md-block">
            <a href="{% url "create_customer" %}" type="button" class="btn btn-outline-primary">Add Customer</a>
            <a href="{% url "update_customer" %}" type="button" class="btn btn-outline-primary">Update Details</a>
            <a href="{% url "delete_customer" %}" type="button" class="btn btn-outline-primary">Delete Customer</a>
            <a href="{% url "get_customer" %}" type="button" class="btn btn-outline-primary">View Profile</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!-- add image link -->
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Accounts</h5>
              <p class="card-text">
                here you can do this operations: 
                Create bank account, View account details
                account
              </p>
            </div>
            <div class="d-grid gap-2 d-md-block">
            <a href="{% url "create_account" %}" type="button" class="btn btn-outline-primary">Create Bank Account</a>
            <a href="{% url "get_account" %}" type="button" class="btn btn-outline-primary">View Account Details</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!-- add image link -->
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Transactions</h5>
              <p class="card-text">
                here you can do this operations: 
                Deposit money, Withdraw money
              </p>
            </div>
            <div class="d-grid gap-2 d-md-block">
            <a href="{% url "deposit" %}" type="button" class="btn btn-outline-primary">Deposit Money</a>
            <a href="{% url "withdraw" %}" type="button" class="btn btn-outline-primary">Withdraw Money</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
